.body-box {
  padding: 150px 300px 150px 300px;
  margin: 0;
  background-color: rgb(212, 230, 247);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding: 0;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  display: flex ;
  flex-wrap: wrap;
  flex-direction: row;
}

#flex-byforce {
  display: flex;
  flex-wrap: wrap;
}

.level {
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-left: 100px;
  font-weight: bold;
  padding-left: 35px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#check-container {
  align-items: center;
  display: flex;
  margin-left: 80px;
  margin-bottom: 40px;
}

#check-in {
  font-weight: bold;
  font-size: 10px;
  color: black;
  margin-left: 10px;
}

#sign-up {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color: rgb(88, 85, 85);
  margin-left: 80px;
  padding: 20px;
}

.input-box {
        height: 40px;
        width: 350px;
        margin: auto;
        border: 1px solid gray;
        border-radius: 5px;
        margin-left:80px;
        background-color: rgb(247, 245, 245);

}

.button-box {
  height: 40px;
  margin-left: 50px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: rgb(1, 1, 17) ;
  color: #fff;
  cursor: pointer;
}

.alert {
  display: none;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .newsletter-card {
    width: 100%;
  }
}
/* write your CSS here */
